.projetos {
  color: #141414;
  transition: 0.3s ease-in-out;
}
.projetos.dev {
  background-color: #e2ecea;
}
.projetos.design {
  background: #ece8f0;
}
.projetos-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  position: relative;
}
.projetos .subtitulo {
  max-width: 3.7ch;
  text-align: right;
  transition: 0.5s ease-in-out;
}
.projetos.design .subtitulo {
  color: #ddc4f6;
}
.projetos.dev .subtitulo {
  color: #bfe2da;
}
.projetos-lista {
  display: none;
  grid: 1/1;
}
.projetos-lista.dev.active {
  display: grid;
}
.projetos-lista.design.active {
  display: grid;
}
.projetos-header {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}
.projetos-header .active-dev {
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #28a386;
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  background-color: #c8e1dc;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.projetos-header .active-dev:hover {
  border: 1px solid #53caae;
}
.projetos-header .active-design {
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #7a45c7;
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  background-color: #d4cade;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.projetos-header .active-design:hover {
  border: 1px solid #9060d6;
}

.projetos-header .active-dev.active {
  border: 2px solid #28a386;
  transform: scale(1.1);
}
.projetos-header .active-design.active {
  border: 2px solid #7a45c7;
  transform: scale(1.1);
}
.sub .dev {
  color: #30ae90;
  font-size: 2rem;
  transform: translateX(-30px);
  transition: 0.3s ease-in-out;
  animation: enter 0.8s forwards 0.3s;
  opacity: 0;
  display: none;
}
.sub .dev.active {
  display: block;
}

.sub .design {
  color: #7a45c7;
  font-size: 2rem;
  transform: translateX(-30px);
  transition: 0.3s ease-in-out;
  animation: exit 0.8s forwards 0.3s;
  opacity: 0;
  display: none;
}
.sub .design.active {
  display: block;
  animation: enter 0.8s forwards 0.3s;
}
@keyframes enter {
  to {
    transform: initial;
    opacity: 1;
  }
}
@keyframes exit {
  to {
    transform: translateX(30px);
    opacity: 1;
  }
}
.projeto {
  visibility: hidden;
  opacity: 0;
  grid-area: 1/1;
  transition: 0.3s ease-in-out;
  list-style: none;
  display: flex;
  flex-direction: column;
  transform: translateX(-60px);
  overflow-x: hidden;
}
.projeto.active {
  visibility: visible;
  opacity: 1;
  transform: initial;
}
.projeto.disabled {
  transform: translateX(20px);
  overflow-x: hidden;
}
.projeto .menu {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
}
.projeto img {
  border-radius: 4px;
}

.projetos-lista .projeto .menu button {
  border: none;
  background-color: #bfe2da;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.projetos-lista.dev .projeto .menu button {
  background-color: #bfe2da;
}
.projetos-lista.dev .projeto .menu button:hover {
  background-color: #a0c7be;
}
.projetos-lista.design .projeto .menu button {
  background-color: #ddc4f6;
}
.projetos-lista.design .projeto .menu button:hover {
  background-color: #bb9cd9;
}
.projeto .menu img {
  width: 30px;
}
.projeto .menu .play,
.projeto .menu .pause {
  display: block;
}
.projeto .menu .play.played {
  display: none;
}
.projeto .menu .pause.paused {
  display: none;
}
.projeto .menu .next img {
  transform: rotate(180deg);
}
.projeto .description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.description h3 {
  font-size: 2rem;
  color: #333333;
  font-weight: 600;
}
.description h3 span {
  font-size: 1.2rem;
  color: #444;
}
.description p {
  font-size: 1.4rem;
  font-weight: 500;
}
.description ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.description ul li {
  display: inline-block;
  color: #e7fdfa;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.description ul li:hover {
  transform: scale(1.2);
}
.projetos-lista.dev .description ul li {
  background-color: #112623;
}
.projetos-lista.design .description ul li {
  background-color: #55239c;
}
.description p:last-child {
  margin-top: 15px;
}
.description a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.projetos-lista.dev .description a {
  color: #9060d6;
}
.projetos-lista.dev .description a:hover {
  color: #7a45c7;
}
.projetos-lista.design .description a {
  color: #30ae90;
}
.projetos-lista.design .description a:hover {
  color: #28a386;
}
.slide-control {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.slide-control button {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#slide-thumb {
  display: flex;
  position: absolute;
  width: 100%;
  pointer-events: none;
}
#slide-thumb > span {
  flex: 1;
  display: block;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  margin: 5px;
  border-radius: 4px;
  overflow: hidden;
  isolation: isolate;
}
#slide-thumb .thumb-item.active {
  display: block;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  transform: translateX(-100%);
  animation: thumb forwards linear running;
}
#slide-thumb .thumb-item.paused {
  animation-play-state: paused;
}
@keyframes thumb {
  to {
    transform: initial;
  }
}
.github {
  margin-top: 20px;
}
.github a {
  position: relative;
}
.github a:visited {
  text-decoration: none;
  color: #444;
}
.github a:after {
  content: ' ';
  display: block;
  width: 21px;
  height: 18px;
  position: absolute;
  top: 1px;
  z-index: 2;
  left: -37px;
  background: url('../imagens/github-142-svgrepo-com.svg') no-repeat center
    center;
}
@media (max-width: 800px) {
  .projetos-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
  }
  .sub {
    grid-row: 1;
  }
  .projetos.dev .subtitulo,
  .projetos.design .subtitulo {
    text-align: left;
    color: black;
  }
}
